@font-face {
    font-family: livvic;
    src: url(style/fonts/Livvic-Regular.ttf);
}

@font-face {
    font-family: livvicSemiBold;
    src: url(style/fonts/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: livvicBold;
    src: url(style/fonts/Livvic-Bold.ttf);
}

@font-face {
    font-family: livvicMediumItalic;
    src: url(style/fonts/Livvic-MediumItalic.ttf);
}