* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: livvic, Arial, sans-serif;
    color: $clr6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

img {
    width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

textarea,
input,
button {
    font-family: livvic, Arial, sans-serif;
    outline: none;
}

p {
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    -webkit-border-radius: 100px;
}
